*,
*:after,
*:before {
    @include box-sizing(border-box);
}

body {
    min-height: 100%;
    font-family: arial;
}

.edge {
  fill: none;
  stroke: #2a9fd6;
  stroke-width: 1.5px;
}

#search-results {
    position: fixed;
    top: 50px;
    width: 100%;
}

.wrapper {
	height: 100vh;
	background: white;
	display: flex;
	flex-direction: column;
}

.map {
	width: 90%;
	margin: 0 auto;
}

.filter {
	background: #F5F5F5;
	flex-grow: 2;
	border-top: 2px solid #E9E9E9;
}

.filter-section {
	background: white;
	border-radius: 3px;
	margin: 15px;
	padding: 20px;
}

.filter-results {
	text-align: left;
	width: 100%;
}

.filter-results thead tr {
	line-height: 40px;
	font-weight: bold;
}

.filter-results tbody tr {
	line-height: 35px;
	border-top: 1px solid #E9E9E9;
}

.filter-results tbody tr:hover {
	background: #F5F5F5;
}

.col-md-6 {
	border: 1px solid red;
}

input {
	line-height: 40px;
	border-radius: 3px;
	width: 100%;
	font-size: 16px;
	padding: 0 10px;
}