.tour-playlist {
	display: none;
	padding: 10px 10px 0;
	width: 220px;
	background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
	position: absolute;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.tour-playlist table {
	margin: 15px 0;
	font-size: 10px;
}

#tour-details {
    height: 250px;
    padding: 0 25px;
}

#tour-details iframe {
    width: 100%;
}

#tourSongs tr td:last-child {
	width: 40px;
}

#tourSongs tr td:last-child span {
	display: none;
}

#tourSongs tr:hover td:last-child span {
	display: block;
}

#tourStops tr td:first-child {
	width: 30px;
}

#country-details {
	z-index: 99999999;
}

.highlightDot {
	stroke-width: 6px !important;
	r: 8px !important;
	stroke: #41FFFC !important;
}


